.jumbotron {
  padding-top: 6rem;
  background: linear-gradient(#0a0800a0, #ffc1076c);
}

#projects {
  background: linear-gradient(#ffc1076c, #0a0800a0);
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
